EEG-Faktura-Tool/Schemas/ISO.pain.001.001.09.austrian.004/ISO.pain.001.001.09.austrian.004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xd:schema xmlns:_="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09" xmlns:doc="AT-Documentation" xmlns:xd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09" elementFormDefault="qualified" vc:minVersion="1.1">
	<xd:annotation>
		<xd:documentation>
			<doc:source>
				<doc:line>PSA Payment Services Austria</doc:line>
				<doc:line>Edited by Hendrik Muus</doc:line>
			</doc:source>
			<doc:useCase>
				<doc:line>Definition for validation according SEPA RB 2023 for use in Austria</doc:line>
				<doc:line>SEPA Credit Transfer; standard and instant</doc:line>
			</doc:useCase>
			<doc:changeLog>
				<doc:date on="2024-04-04">
					<doc:line>correct pattern of ISODateTime</doc:line>
					<doc:line>Release as Version 4</doc:line>
				</doc:date>
				<doc:date on="2023-10-18">
					<doc:line>correct pattern of ISODateTime</doc:line>
					<doc:line>Release as Version 3</doc:line>
				</doc:date>
				<doc:date on="2023-06-23">
					<doc:line>delete element DtTm under CstmrCdtTrfInitn/PmtInf/ReqExctnDt</doc:line>
					<doc:line>delete related assertion under CstmrCdtTrfInitn/PmtInf</doc:line>
					<doc:line>insert UETR under CstmrCdtTrfInitn/PmtInf/DrctDbtTxInf/PmtId</doc:line>
					<doc:line>Release as Version 2</doc:line>
				</doc:date>
				<doc:date on="2023-02-13">
					<doc:line>typo corrections and sort of elements</doc:line>
					<doc:line>Release as Version 1</doc:line>
				</doc:date>
				<doc:date on="2022-12-12">
					<doc:line>initial release with redefinition</doc:line>
					<doc:line>new structure</doc:line>
					<doc:line>use schema definition 1.1 to allow asserts</doc:line>
					<doc:line>former BIC now is named BICFI</doc:line>
					<doc:line>former BICOrBEI now is named AnyBIC</doc:line>
					<doc:line>GrpHdr/CtrlSum is now mandatory</doc:line>
					<doc:line>PmtInf/CtrlSum is now mandatory</doc:line>
					<doc:line>PmtInf/NbOfTxs is now mandatory</doc:line>
					<doc:line>PmtInf/ReqExctnDt/DtTm inserted for future use, e.g. instant payment initiation</doc:line>
					<doc:line>PmtInf/Dbtr and PmtInf/CdtTrfTxInf/Cdtr now offer optional proxy Information</doc:line>
					<doc:line>PmtInf/CdtTrfTxInf/Cdtr/PstlAdr offers structured address only</doc:line>
					<doc:line>PmtInf/Dbtr, PmtInf/UltmtDbtr, PmtInf/CdtTrfTxInf/UltmtDbtr, PmtInf/CdtTrfTxInf/Cdtr and PmtInf/CdtTrfTxInf/UltmtCdtr */Id/OrgId now offer LEI as identifier</doc:line>
					<doc:line>insert asserts at various levels to ensure / enable more detailed validation</doc:line>
					<doc:line>shift old EPC attributes to xml:id and place new EPC attributes into id</doc:line>
				</doc:date>
			</doc:changeLog>
		</xd:documentation>
	</xd:annotation>
	<!-- Include code list file -->
	<!--  ********************** start replace include node with copy of type definitions of schema to get stand-alone schema  -->
	<xd:include schemaLocation="pain.001.codelists.xsd"/>
	<!--  ********************** end replace include node with copy of type definitions of schema to get stand-alone schema  -->
	<!-- Redefinition through deriving types by restriction and added documentation -->
	<xd:include schemaLocation="pain.001.001.09.xsd"/>
	<!-- Attributes  -->
	<xd:attribute name="lastEdit" fixed="2024-04-04">
		<xd:annotation>
			<xd:documentation xml:lang="de">Datum der letzten Veränderung</xd:documentation>
			<xd:documentation xml:lang="en">Date of last change</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<xd:attribute name="replaceLastEdit" fixed="2023-10-18">
		<xd:annotation>
			<xd:documentation xml:lang="de">Ersetztes Versionsdatum</xd:documentation>
			<xd:documentation xml:lang="en">Replaced version date</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<!-- derived types -->
	<!-- complex types with complex content -->
	<xd:complexType name="AccountIdentification4Choice_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:AccountIdentification4Choice">
				<xd:choice>
					<xd:element name="IBAN" type="_:IBAN2007Identifier" id="AT-C001" xml:id="AT-20">
						<xd:annotation>
							<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum.

Bei Postbarzahlungen ist dies "AT846000000011471508"</xd:documentation>
							<xd:documentation xml:lang="en">IBAN of an account in SEPA area.

With CashPerPost payment this is "AT846000000011471508"</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="AccountIdentification4Choice_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:AccountIdentification4Choice">
				<xd:choice>
					<xd:element name="IBAN" type="_:IBAN2007Identifier" id="AT-D001" xml:id="AT-01">
						<xd:annotation>
							<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum.</xd:documentation>
							<xd:documentation xml:lang="en">IBAN of an account in SEPA area.</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="BranchAndFinancialInstitutionIdentification6_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:BranchAndFinancialInstitutionIdentification6">
				<xd:sequence>
					<xd:element name="FinInstnId" type="_:FinancialInstitutionIdentification18_Cdtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC einer Bank im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">BIC of a bank in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="BranchAndFinancialInstitutionIdentification6_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:BranchAndFinancialInstitutionIdentification6">
				<xd:sequence>
					<xd:element name="FinInstnId" type="_:FinancialInstitutionIdentification18_Dbtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation einer Bank im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">Identification of a bank in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="CashAccount38_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:CashAccount38">
				<xd:sequence>
					<xd:element name="Id" type="_:AccountIdentification4Choice_Cdtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">IBAN of an account in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Prxy" type="_:ProxyAccountIdentification1" id="AT-E003" minOccurs="0" xml:id="AT-25">
						<xd:annotation>
							<xd:documentation xml:lang="de">Proxy Informationen zum Konto</xd:documentation>
							<xd:documentation xml:lang="en">Proxy information on account</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="CashAccount38_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:CashAccount38">
				<xd:sequence>
					<xd:element name="Id" type="_:AccountIdentification4Choice_Dbtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">IBAN of an account in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Ccy" type="_:ActiveOrHistoricCurrencyCode" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Kontowährung des belasteten Kontos.

Nur notwendig bei Mehrwährungskonto</xd:documentation>
							<xd:documentation xml:lang="en">Account currency of debited account.

Only necessary with multi currency account</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Prxy" type="_:ProxyAccountIdentification1" id="AT-P003" minOccurs="0" xml:id="AT-11">
						<xd:annotation>
							<xd:documentation xml:lang="de">Proxy Informationen zum Konto</xd:documentation>
							<xd:documentation xml:lang="en">Proxy information on account</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="CategoryPurpose1Choice_Single">
		<xd:complexContent>
			<xd:restriction base="_:CategoryPurpose1Choice">
				<xd:choice>
					<xd:element name="Cd" type="_:ISO_ExternalCategoryPurpose1Code">
						<xd:annotation>
							<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
Siehe externe Codeliste</xd:documentation>
							<xd:documentation xml:lang="en">Processing.

Specific code for processing identification at receiving institution.
See external code list</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Prtry" type="_:AT_ExternalProprietaryCategoryPurpose1Code_Single">
						<xd:annotation>
							<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
CPPP Postbarzahlungen MÜSSEN AUF BESTANDSEBENE KLASSIFIZIERT WERDEN!
Siehe externe Codeliste</xd:documentation>
							<xd:documentation xml:lang="en">Processing.

Specific code for processing identification at receiving institution.
CPPP Cash per Post Payment NEED TO BE CLASSIFIED ON BATCH LEVEL!
See external code list</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="FinancialInstitutionIdentification18_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:FinancialInstitutionIdentification18">
				<xd:sequence>
					<xd:element name="BICFI" type="_:BICFIDec2014Identifier" id="AT-C002" xml:id="AT-23">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC einer Bank im SEPA-Raum.

Wenn die IBAN only Option nicht genutzt wird, dann ist dies bei Postbarzahlungen der Wert "BAWAATWW"</xd:documentation>
							<xd:documentation xml:lang="en">BIC of a bank in SEPA area

If the IBAN only option is not used, then on CashPerPost payments populate with "BAWAATWW"</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="FinancialInstitutionIdentification18_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:FinancialInstitutionIdentification18">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="BICFI" type="_:BICFIDec2014Identifier" id="AT-D002" minOccurs="0" xml:id="AT-06">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC der beauftragten Bank</xd:documentation>
							<xd:documentation xml:lang="en">BIC of the instructed bank</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericFinancialIdentification1_Dbtr" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation (IBAN only)</xd:documentation>
							<xd:documentation xml:lang="en">Other identification (IBAN only)</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) eq 1">
					<xd:annotation>
						<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="GenericFinancialIdentification1_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:GenericFinancialIdentification1">
				<xd:sequence>
					<xd:element name="Id" type="_:Max35Text_IBANonly">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation (IBAN only).

Fixer Wert "NOTPROVIDED"</xd:documentation>
							<xd:documentation xml:lang="en">Identification (IBAN only).

Fixed value "NOTPROVIDED"</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="GenericOrganisationIdentification1_Cdtr_Dbtr_Ultmt">
		<xd:complexContent>
			<xd:restriction base="_:GenericOrganisationIdentification1">
				<xd:sequence>
					<xd:element name="Id" type="_:Max35Text_REF">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification of organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="SchmeNm" type="_:OrganisationIdentificationSchemeName1Choice_Cdtr_Dbtr_Ultmt" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Typ der Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Type of identification</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Issr" type="_:Max35Text" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation vergebende Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification assigning organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="GenericOrganisationIdentification1_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:GenericOrganisationIdentification1">
				<xd:sequence>
					<xd:element name="Id" type="_:Max35Text_REF">
						<xd:annotation>
							<xd:documentation xml:lang="de">Von der Bank vergebene Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Identification assigned by bank</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="SchmeNm" type="_:OrganisationIdentificationSchemeName1Choice_InitgPty" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Typ der Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Type of identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentification29_Cdtr_Dbtr_Ultmt">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentification29">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="AnyBIC" type="_:AnyBICDec2014Identifier" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC oder BEI</xd:documentation>
							<xd:documentation xml:lang="en">BIC or BEI</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="LEI" type="_:LEIIdentifier" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Legal Entity Identifier

Z.B. Firmenbuchnummer</xd:documentation>
							<xd:documentation xml:lang="en">Legal Entity Identifier

E.g. Industrial Court ID</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericOrganisationIdentification1_Cdtr_Dbtr_Ultmt" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Other identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) eq 1">
					<xd:annotation>
						<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentification29_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentification29">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="AnyBIC" type="_:AnyBICDec2014Identifier" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC oder BEI</xd:documentation>
							<xd:documentation xml:lang="en">BIC or BEI</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="LEI" type="_:LEIIdentifier" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Legal Entity Identifier</xd:documentation>
							<xd:documentation xml:lang="en">Legal Entity Identifier</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericOrganisationIdentification1_InitgPty" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Other identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) eq 1">
					<xd:annotation>
						<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentificationSchemeName1Choice_Cdtr_Dbtr_Ultmt">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentificationSchemeName1Choice">
				<xd:choice>
					<xd:element name="Cd" type="_:ISO_ExternalOrganisationIdentification1Code">
						<xd:annotation>
							<xd:documentation xml:lang="de">Kodierte Identifikation.

Kode aus Codeliste</xd:documentation>
							<xd:documentation xml:lang="en">Coded identification.

Code from code list</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Prtry" type="_:Max35Text_REF">
						<xd:annotation>
							<xd:documentation xml:lang="de">Kodierte Identifikation.

Proprietärer Kode</xd:documentation>
							<xd:documentation xml:lang="en">Coded identification.

Proprietary code</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentificationSchemeName1Choice_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentificationSchemeName1Choice">
				<xd:choice>
					<xd:element name="Cd" type="_:AT_ExternalOrganisationIdentification1Code_InitgPty">
						<xd:annotation>
							<xd:documentation xml:lang="de">Kodierte Identifikation.

Einzig verfügbarer Wert ist BANK</xd:documentation>
							<xd:documentation xml:lang="en">Coded identification.

Only available value is BANK</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification135_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification135">
				<xd:sequence>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-E001" xml:id="AT-21">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name des Kontoinhabers / Empfängers.

Auf 70 Zeichen begrenzt.
Bei Postbarzahlungen ist dies "BAWAGPSK"</xd:documentation>
							<xd:documentation xml:lang="en">Name of account owner / credited principal.

Limited to 70 characters.
With CashPerPost payments this is "BAWAGPSK"</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="PstlAdr" type="_:PostalAddress24" id="AT-E004" minOccurs="0" xml:id="AT-22">
						<xd:annotation>
							<xd:documentation xml:lang="de">Adresse des Kontoinhabers / Empfängers.

Verwendung in Absprache mit beauftragter Bank</xd:documentation>
							<xd:documentation xml:lang="en">Address of account owner / credited principal.

Consult ordered institute prior use</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party38Choice_Cdtr_Dbtr_Ultmt" id="AT-E005" minOccurs="0" xml:id="AT-24">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation des Kontoinhabers / Empfängers.

Bei Postbarzahlungen nicht verwendet</xd:documentation>
							<xd:documentation xml:lang="en">Identification of account owner / credited principal.

Not used with CashPerPost payments</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification135_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification135">
				<xd:sequence>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-P001" xml:id="AT-02">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name des Kontoinhabers / Auftraggeber.

Auf 70 Zeichen begrenzt</xd:documentation>
							<xd:documentation xml:lang="en">Name of account owner / debited principal.

Limited to 70 characters</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party38Choice_Cdtr_Dbtr_Ultmt" id="AT-P004" minOccurs="0" xml:id="AT-10">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identification des Kontoinhabers / Auftraggeber</xd:documentation>
							<xd:documentation xml:lang="en">Identification of account owner / debited principal</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification135_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification135">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="Nm" type="_:Max140Text_Nm" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name des Senders

Auf 70 Zeichen begrenzt</xd:documentation>
							<xd:documentation xml:lang="en">Name of Sender

Limited to 70 characters</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party38Choice_InitgPty" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation des Senders</xd:documentation>
							<xd:documentation xml:lang="en">Identification of sender</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) eq 1">
					<xd:annotation>
						<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification135_UltmtCdtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification135">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">MINDESTENS EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">AT LEAST ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-E007" minOccurs="0" xml:id="AT-28">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name / Bezeichnung der Referenzpartei des Kontoinhabers / Empfängers, d.h. üblicherweise der eigentliche Gläubiger.

Auf 70 Zeichen begrenzt.
Bei Postbarzahlungen erforderlicher Name des Empfängers</xd:documentation>
							<xd:documentation xml:lang="en">Name / Designation of reference party of account owner / principal, i.e. habitually the actual creditor.

Limited to 70 characters.
Mandatory name of beneficiary with CashPerPost payments</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party38Choice_Cdtr_Dbtr_Ultmt" id="AT-E010" minOccurs="0" xml:id="AT-29">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Referenzpartei des Kontoinhabers / Empfängers, d.h. üblicherweise der eigentliche Gläubiger.

Bei Postbarzahlungen nicht zulässig</xd:documentation>
							<xd:documentation xml:lang="en">Identification of reference party of account owner / principal, i.e. habitually the actual creditor.

Not available with CashPerPost payments</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) gt 0">
					<xd:annotation>
						<xd:documentation xml:lang="de">Mindestens 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">At least 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification135_UltmtDbtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification135">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">MINDESTENS EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">AT LEAST ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-P006" minOccurs="0" xml:id="AT-08">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name / Bezeichnung der Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner.

Auf 70 Zeichen begrenzt</xd:documentation>
							<xd:documentation xml:lang="en">Name / Designation of reference party of account owner / principal, i.e. habitually the actual debtor.

Limited to 70 characters</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party38Choice_Cdtr_Dbtr_Ultmt" id="AT-P007" minOccurs="0" xml:id="AT-09">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner</xd:documentation>
							<xd:documentation xml:lang="en">Identification of reference party of account owner / principal, i.e. habitually the actual debtor</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) gt 0">
					<xd:annotation>
						<xd:documentation xml:lang="de">Mindestens 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">At least 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="Party38Choice_Cdtr_Dbtr_Ultmt">
		<xd:complexContent>
			<xd:restriction base="_:Party38Choice">
				<xd:choice>
					<xd:element name="OrgId" type="_:OrganisationIdentification29_Cdtr_Dbtr_Ultmt">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification of organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="PrvtId" type="_:PersonIdentification13_Cdtr_Dbtr_Ultmt">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Person</xd:documentation>
							<xd:documentation xml:lang="en">Identification of person</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="Party38Choice_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:Party38Choice">
				<xd:choice>
					<xd:element name="OrgId" type="_:OrganisationIdentification29_InitgPty">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification of organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PaymentTypeInformation26_Batch">
		<xd:complexContent>
			<xd:restriction base="_:PaymentTypeInformation26">
				<xd:annotation>
					<xd:documentation xml:lang="de">MINDESTENS EIN FOLGE-ELEMENT</xd:documentation>
					<xd:documentation xml:lang="en">AT LEAST ONE SUBSEQUENT ELEMENT</xd:documentation>
				</xd:annotation>
				<xd:sequence>
					<xd:element name="InstrPrty" type="_:Priority2Code" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Bevorzugte Zahlungen.

Keine Verwendung definiert</xd:documentation>
							<xd:documentation xml:lang="en">Prioritised payments.

No application defined</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="SvcLvl" type="_:ServiceLevel8Choice" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Service Spezifikation.

Wird dieses Element nicht angegeben, wird der Standardwert SEPA angenommen.</xd:documentation>
							<xd:documentation xml:lang="en">Service specification.

If this element is not quoted, the standard value SEPA is assumed.</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="LclInstrm" type="_:LocalInstrument2Choice" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Zahlungsinstrument.

Keine Verwendung definiert</xd:documentation>
							<xd:documentation xml:lang="en">Payment instrument.

No application defined</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="CtgyPurp" type="_:CategoryPurpose1Choice" id="AT-T008-Batch" minOccurs="0" xml:id="AT-45-Batch">
						<xd:annotation>
							<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
Notwendig bei Postbarzahlungen
Siehe auch Purp auf Einzelebene
Vor der Verwendung ist mit dem empfangenden Institut eine Vereinbarung zu treffen, anderenfalls wird dies ignoriert.

Beispiele:
SALA: Gehaltszahlungen
PENS: Pensionszahlungen
LOAN: Konsortialverrechnungen
SSBE: Sozialversicherungszahlungen
GOVT: Annuitätenzuschüsse
INTC: Intra Company/Cash pooling
TAXS: > siehe Purp und PmtId/EndToEndId ! (Steuerzahlungen)
CPPP: Postbarzahlungen</xd:documentation>
							<xd:documentation xml:lang="en">Processing.

Specific code for processing identification at receiving institution.
Mandatory with CashPerPost payments
See also Purp at single transaction
Before use an agreement with receiving institution is necessary, otherwise this is ignored.

Examples:
SALA: Salary payment
PENS: Pension payment
LOAN: Consortium loan
SSBE: Social security
GOVT: Annuity grant
INTC: Intra Company/Cash pooling
TAXS: > see Purp and PmtId/EndToEndId ! (Tax payments)
CPPP: Cash Per Post Payment</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) gt 0">
					<xd:annotation>
						<xd:documentation xml:lang="de">Mindestens 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">At least 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PaymentTypeInformation26_Single">
		<xd:complexContent>
			<xd:restriction base="_:PaymentTypeInformation26">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">MINDESTENS EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">AT LEAST ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="SvcLvl" type="_:ServiceLevel8Choice_Single" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Siehe Beschreibung auf Bestandsebene</xd:documentation>
							<xd:documentation xml:lang="en">See description on batch level</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="LclInstrm" type="_:LocalInstrument2Choice" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Siehe Beschreibung auf Bestandsebene</xd:documentation>
							<xd:documentation xml:lang="en">See description on batch level</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="CtgyPurp" type="_:CategoryPurpose1Choice_Single" id="AT-T008-Single" minOccurs="0" xml:id="AT-45-Single">
						<xd:annotation>
							<xd:documentation xml:lang="de">Siehe Beschreibung auf Bestandsebene</xd:documentation>
							<xd:documentation xml:lang="en">See description on batch level</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) gt 0">
					<xd:annotation>
						<xd:documentation xml:lang="de">Mindestens 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">At least 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PersonIdentification13_Cdtr_Dbtr_Ultmt">
		<xd:complexContent>
			<xd:restriction base="_:PersonIdentification13">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="DtAndPlcOfBirth" type="_:DateAndPlaceOfBirth1" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Datum und Ort der Geburt</xd:documentation>
							<xd:documentation xml:lang="en">Date and place of birth</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericPersonIdentification1" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Other identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) eq 1">
					<xd:annotation>
						<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="ServiceLevel8Choice_Single">
		<xd:complexContent>
			<xd:restriction base="_:ServiceLevel8Choice">
				<xd:choice>
					<xd:element name="Cd" type="_:AT_ExternalServiceLevel1Code_Single" id="AT-T001-Single" xml:id="AT-40-Single">
						<xd:annotation>
							<xd:documentation xml:lang="de">Service Spezifikation</xd:documentation>
							<xd:documentation xml:lang="en">Service specification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<!-- simple types -->
	<xd:simpleType name="ActiveOrHistoricCurrencyCode_TX">
		<xd:restriction base="_:ActiveOrHistoricCurrencyCode">
			<xd:enumeration value="EUR">
				<xd:annotation>
					<xd:documentation xml:lang="de">SEPA kann nur EUR transferieren</xd:documentation>
					<xd:documentation xml:lang="en">SEPA just enables EUR transfers</xd:documentation>
				</xd:annotation>
			</xd:enumeration>
		</xd:restriction>
	</xd:simpleType>
	<xd:simpleType name="Max140Text_Nm">
		<xd:restriction base="_:Max140Text">
			<xd:annotation>
				<xd:documentation xml:lang="de">Begrenzung der Länge der Namenselemente</xd:documentation>
				<xd:documentation xml:lang="en">Limitation of length of name elements</xd:documentation>
			</xd:annotation>
			<xd:maxLength value="70"/>
		</xd:restriction>
	</xd:simpleType>
	<xd:simpleType name="Max35Text_IBANonly">
		<xd:restriction base="_:Max35Text">
			<xd:enumeration value="NOTPROVIDED">
				<xd:annotation>
					<xd:documentation xml:lang="de">Festgelegter Wert für IBAN-only Beauftragungen</xd:documentation>
					<xd:documentation xml:lang="en">Fixed value for IBAN only initiations</xd:documentation>
				</xd:annotation>
			</xd:enumeration>
		</xd:restriction>
	</xd:simpleType>
	<xd:simpleType name="Max35Text_REF">
		<xd:restriction base="_:Max35Text">
			<xd:annotation>
				<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes für Kodes, Referenzen und Identifikatoren

Erlaubte Struktur für Kodes, Referenzen und Identifikatoren nach EPC217-08 Best Practices SEPA Requirements for Character Set SSG.pdf
Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten, jedoch
startet nicht mit /
endet nicht mit /
enthält kein //</xd:documentation>
				<xd:documentation xml:lang="en">Limitation of character set for codes, references and identifications

Allowed structure for codes, references and identifications according EPC217-08 Best Practices SEPA Requirements for Character Set SSG.pdf
A text or value must contain at least one printable character, but
don't start with /
don't end with /
don't contain //</xd:documentation>
			</xd:annotation>
			<xd:pattern value="((([\-A-Za-z0-9+?:().,' ]+/)+[\-A-Za-z0-9+?:().,' ]+)|(( *[\-A-Za-z0-9+?:().,'])+ *))">
				<xd:annotation>
					<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
				</xd:annotation>
			</xd:pattern>
		</xd:restriction>
	</xd:simpleType>
</xd:schema>