EEG-Faktura-Tool/Schemas/ISO.pain.001.001.09.austrian.004/pain.001.001.09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2019 Feb 14 11:57:59, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09">
    <!-- Include code list file -->
	<!--  ********************** start replace include node with copy of type definitions of schema to get stand-alone schema  -->
	<xs:include schemaLocation="pain.001.codelists.xsd"/>
	<xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
	<!-- complex types with simple content -->
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:restriction base="ActiveOrHistoricCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation xml:lang="de">Begrenzung der Länge und Darstellung des Einzelbetrags</xs:documentation>
					<xs:documentation xml:lang="en">Limitation of length and representation of transaction amount</xs:documentation>
				</xs:annotation>
				<xs:minInclusive value="0.01"/>
				<xs:maxInclusive value="999999999.99"/>
				<xs:fractionDigits value="2"/>
				<xs:totalDigits value="11"/>
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode_TX" use="required"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AddressType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
	<!-- complex types with complex content -->
	<xs:complexType name="AmountType4Choice">
		<xs:complexContent>
			<xs:restriction base="AmountType4Choice">
				<xs:choice>
					<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount" id="AT-T002" xml:id="AT-04">
						<xs:annotation>
							<xs:documentation xml:lang="de">Einzelbetrag.

Begrenzt auf maximal 999999999.99 und minimal 0.01.
Punkt als Dezimalzeichen.
Keine negativen Werte</xs:documentation>
							<xs:documentation xml:lang="en">Single amount.

Restricted to a maximum 999999999.99 and a minimum of 0.01.
Decimal sign is the dot.
No negative values</xs:documentation>
							<xs:documentation>Beispiele / Examples
-- ungültig / invalid --
.87
645.
942.80352132
00023
000343.00
-- gültig und empfohlen / valid and recommended --
0.34
74.5
456
3.04
-- möglich / possible --
10.0
10.40
10.00</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Authorisation1Choice">
        <xs:choice>
            <xs:element name="Cd" type="Authorisation1Code"/>
            <xs:element name="Prtry" type="Max128Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Authorisation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="FDET"/>
            <xs:enumeration value="FSUM"/>
            <xs:enumeration value="ILEV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BatchBookingIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:complexContent>
			<xs:restriction base="CategoryPurpose1Choice">
				<xs:choice>
					<xs:element name="Cd" type="ISO_ExternalCategoryPurpose1Code">
						<xs:annotation>
							<xs:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
Siehe externe Codeliste</xs:documentation>
							<xs:documentation xml:lang="en">Processing.

Specific code for processing identification at receiving institution.
See external code list</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Prtry" type="AT_ExternalProprietaryCategoryPurpose1Code">
						<xs:annotation>
							<xs:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
CPPP Postbarzahlungen (siehe auch PmtId/EndToEndId, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr und RmtInf/Ustrd unterhalb CdtTrfTxInf).
Siehe externe Codeliste</xs:documentation>
							<xs:documentation xml:lang="en">Processing.

Specific code for processing identification at receiving institution.
CPPP Cash per Post Payment (see also PmtId/EndToEndId, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr and RmtInf/Ustrd under CdtTrfTxInf).
See external code list</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ChargeBearerType1Code">
		<xs:restriction>
			<xs:enumeration value="SLEV">
				<xs:annotation>
					<xs:documentation xml:lang="de">Spesenoption gemäß SEPA Richtlinie</xs:documentation>
					<xs:documentation xml:lang="en">Charge option according SEPA regulation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
    <xs:complexType name="Cheque11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ChqTp" type="ChequeType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChqNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChqFr" type="NameAndAddress16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryMtd" type="ChequeDeliveryMethod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrTo" type="NameAndAddress16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrty" type="Priority2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChqMtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrmsCd" type="Max35Text"/>
            <xs:element maxOccurs="2" minOccurs="0" name="MemoFld" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgnlClrZone" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtLctn" type="Max35Text"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Sgntr" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ChequeDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MLDB"/>
            <xs:enumeration value="MLCD"/>
            <xs:enumeration value="MLFA"/>
            <xs:enumeration value="CRDB"/>
            <xs:enumeration value="CRCD"/>
            <xs:enumeration value="CRFA"/>
            <xs:enumeration value="PUDB"/>
            <xs:enumeration value="PUCD"/>
            <xs:enumeration value="PUFA"/>
            <xs:enumeration value="RGDB"/>
            <xs:enumeration value="RGCD"/>
            <xs:enumeration value="RGFA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChequeDeliveryMethod1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ChequeDelivery1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ChequeType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCHQ"/>
            <xs:enumeration value="CCCH"/>
            <xs:enumeration value="BCHQ"/>
            <xs:enumeration value="DRFT"/>
            <xs:enumeration value="ELDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Contact4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailPurp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherContact1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrefrdMtd" type="PreferredContactMethod1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="CreditTransferTransaction34">
		<xs:complexContent>
			<xs:restriction base="CreditTransferTransaction34">
				<xs:sequence>
					<xs:element name="PmtId" type="PaymentIdentification6">
						<xs:annotation>
							<xs:documentation xml:lang="de">Referenzen des Auftraggebers</xs:documentation>
							<xs:documentation xml:lang="en">Initiator's references</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PmtTpInf" type="PaymentTypeInformation26_Single" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Einzelverarbeitung.

Diese Struktur existiert ebenfalls auf Bestandsebene. EINE DIESER STRUKTUREN MUSS VERWENDET WERDEN! Gleichzeitige Nennung ist nicht erlaubt. DIE STRUKTUR AUF EINZELUMSATZEBENE VERHINDERT DIE ANWENDUNG VON SPEZIELLEN SERVICES ZWISCHEN AUFTRAGGEBER UND AUFTRAGGEBERBANK! DIESE KÖNNEN NUR BEI VERWENDUNG DER BESTANDSEBENE ANGEWENDET WERDEN! Siehe ServiceLevel, LocalInstrument und CategoryPurpose.

Von der Verwendung dieses Elements wird dringend abgeraten</xs:documentation>
							<xs:documentation xml:lang="en">Single processing.

This structure is also available on batch level. ONE OF THESE STRUCTURES MUST BE POPULATED! Concurrent population is not permitted. THE POPULATION ON SINGLE TRANSACTION LEVEL INHIBITS SPECIAL SERVICES OFFERED BY INITIATORS BANK TO INITIATOR! THESE SERVICES CAN ONLY BE APPLIED WHEN POPULATION IS MADE ON BATCH LEVEL! See ServiceLevel, LocalInstrument and CategoryPurpose.

Element is strongly discouraged</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amt" type="AmountType4Choice">
						<xs:annotation>
							<xs:documentation xml:lang="de">Überweisungsbetrag</xs:documentation>
							<xs:documentation xml:lang="en">Transfer amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Spesenoption.

Einzig verfügbarer Wert ist SLEV</xs:documentation>
							<xs:documentation xml:lang="en">Charge option.

Only available value is SLEV</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UltmtDbtr" type="PartyIdentification135_UltmtDbtr" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner.

Gleichzeitige Nennung auf Bestandsebene ist nicht erlaubt</xs:documentation>
							<xs:documentation xml:lang="en">Reference party of account owner / principal, i.e. habitually the actual debtor.

Concurrent quoting on batch level is not allowed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6_Cdtr" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontoführendes Institut des Kontoinhabers / Empfängers.

Nicht verwendet bei IBAN only</xs:documentation>
							<xs:documentation xml:lang="en">Financial institution servicing the account owner / recipient.

Not used with IBAN only</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cdtr" type="PartyIdentification135_Cdtr">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontoinhaber / Empfänger</xs:documentation>
							<xs:documentation xml:lang="en">Account owner / recipient</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CdtrAcct" type="CashAccount38_Cdtr">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontonummer des Kontoinhabers / Empfängers</xs:documentation>
							<xs:documentation xml:lang="en">Account number of account owner / recipient</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UltmtCdtr" type="PartyIdentification135_UltmtCdtr" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Referenzpartei des Kontoinhabers / Empfängers, d.h. üblicherweise der eigentliche Gläubiger.

Bei Postbarzahlungen erforderlich</xs:documentation>
							<xs:documentation xml:lang="en">Reference party of account owner / recipient, i.e. habitually the actual creditor.

Mandatory with CashPerPost payments</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Purp" type="Purpose2Choice" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kodierter Zahlungsgrund.

Dieser Kode identifiziert einen Zahlungsgrund für den Zahlungsempfänger, kann aber auch speziellen Services bei den Banken dienen.
Bei Steuerzahlungen zwingend mit TAXS zu befüllen</xs:documentation>
							<xs:documentation xml:lang="en">Coded payment reason.

This code identifies a payment purpose or reason for the creditor, but may triggers special services of banks too.
For tax payments mandatorily to populate with TAXS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RmtInf" type="RemittanceInformation16" id="AT-T009" minOccurs="0" xml:id="AT-05">
						<xs:annotation>
							<xs:documentation xml:lang="de">Verwendungszweck / Empfängerreferenz</xs:documentation>
							<xs:documentation xml:lang="en">Remittance information / recipients reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:complexContent>
			<xs:restriction base="CreditorReferenceInformation2">
				<xs:sequence>
					<xs:element name="Tp" type="CreditorReferenceType2">
						<xs:annotation>
							<xs:documentation xml:lang="de">Typ und Herkunft der Referenz</xs:documentation>
							<xs:documentation xml:lang="en">Type and issuer of reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ref" type="Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zahlungsreferenz, Empfängerreferenz</xs:documentation>
							<xs:documentation xml:lang="en">Creditor's reference, Recipient's reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:complexContent>
			<xs:restriction base="CreditorReferenceType1Choice">
				<xs:choice>
					<xs:element name="Cd" type="DocumentType3Code">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kodierter Referenztyp.

Einzig verfügbarer Wert ist SCOR</xs:documentation>
							<xs:documentation xml:lang="en">Coded reference type.

Only available value is SCOR</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:complexContent>
			<xs:restriction base="CreditorReferenceType2">
				<xs:sequence>
					<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice">
						<xs:annotation>
							<xs:documentation xml:lang="de">Codetyp</xs:documentation>
							<xs:documentation xml:lang="en">Code type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Issr" type="Max35Text" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Referenz vergebende Organisation

Wenn die Referenz eine nach ISO 11649 strukturierte Referenz ist ("RF"CheckDigits"Reference"), dann soll "ISO" als Herausgeber genannt werden</xs:documentation>
							<xs:documentation xml:lang="en">Reference assigning organisation

If the reference is an ISO 11649 structured reference ("RF"CheckDigits"Reference"), then "ISO" shall be used as issuer</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomerCreditTransferInitiationV09">
		<xs:complexContent>
			<xs:restriction base="CustomerCreditTransferInitiationV09">
				<xs:sequence>
					<xs:element name="GrpHdr" type="GroupHeader85">
						<xs:annotation>
							<xs:documentation xml:lang="de">Nachrichtenkopf.

Grundlegende Informationen zur übermittelten Datei</xs:documentation>
							<xs:documentation xml:lang="en">Message header.

Basic information on transmitted file</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PmtInf" type="PaymentInstruction30" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bestände.

Maximal 9.999 Bestände.
Größere Anzahl kann nicht verarbeitet werden und die gesamte Datei wird zurückgewiesen</xs:documentation>
							<xs:documentation xml:lang="en">Batches.

Restricted to 9.999 batches.
Larger count can not be processed and complete file will be rejected</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:assert test="xd:integer(_:GrpHdr/_:NbOfTxs) eq sum(_:PmtInf/xd:integer(_:NbOfTxs))">
					<xs:annotation>
						<xs:documentation xml:lang="de">Anzahl der Transaktionen in der gesamten Datei</xs:documentation>
						<xs:documentation xml:lang="en">Count of transactions in entire message</xs:documentation>
					</xs:annotation>
				</xs:assert>
				<xs:assert test="_:GrpHdr/_:CtrlSum eq sum(_:PmtInf/_:CtrlSum)">
					<xs:annotation>
						<xs:documentation xml:lang="de">Arithmetische Summe der Transaktionen in der gesamten Datei</xs:documentation>
						<xs:documentation xml:lang="en">Arithmetic sum of transactions in entire message</xs:documentation>
					</xs:annotation>
				</xs:assert>
				<xs:assert test="count(_:PmtInf/_:PmtInfId) eq count(distinct-values(_:PmtInf/_:PmtInfId))">
					<xs:annotation>
						<xs:documentation xml:lang="de">Eindeutige Bestandsnummern</xs:documentation>
						<xs:documentation xml:lang="en">Unique batch identifications</xs:documentation>
					</xs:annotation>
				</xs:assert>
				<xs:assert test="count(_:PmtInf) lt 10000">
					<xs:annotation>
						<xs:documentation xml:lang="de">Maximale Anzahl Bestände in Nachricht</xs:documentation>
						<xs:documentation xml:lang="en">Maximum batch count in message</xs:documentation>
					</xs:annotation>
				</xs:assert>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DateAndDateTime2Choice">
		<xs:complexContent>
			<xs:restriction base="DateAndDateTime2Choice">
				<xs:choice>
					<xs:element name="Dt" type="ISODate">
						<xs:annotation>
							<xs:documentation xml:lang="de">Gewünschter Durchführungstag.

Kann das Datum z.B. durch Spätlieferung nicht eingehalten werden, kann ggf. eine Weiterrollung gemäß vorheriger Vereinbarung erfolgen</xs:documentation>
							<xs:documentation xml:lang="en">Requested execution date.

If the date cannot be respected, e.g. on late delivery, payment may be executed later according preliminary agreement</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth1">
		<xs:complexContent>
			<xs:restriction base="DateAndPlaceOfBirth1">
				<xs:sequence>
					<xs:element name="BirthDt" type="ISODate">
						<xs:annotation>
							<xs:documentation xml:lang="de">Tag der Geburt</xs:documentation>
							<xs:documentation xml:lang="en">Date of birth</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bundesland der Geburt</xs:documentation>
							<xs:documentation xml:lang="en">Province of birth</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CityOfBirth" type="Max35Text">
						<xs:annotation>
							<xs:documentation xml:lang="de">Stadt der Geburt</xs:documentation>
							<xs:documentation xml:lang="en">City of birth</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CtryOfBirth" type="CountryCode">
						<xs:annotation>
							<xs:documentation xml:lang="de">Land der Geburt

ISO 3166 2-Buchstaben Ländercode</xs:documentation>
							<xs:documentation xml:lang="en">Country of birth

ISO 3166 2-character country code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction>
			<xs:annotation>
				<xs:documentation xml:lang="de">Der Maximalwert der Kontrollsumme. Mehr kann eine Datei nicht beauftragen</xs:documentation>
				<xs:documentation xml:lang="en">The maximum value of the control sum. One file cannot instruct lager values</xs:documentation>
			</xs:annotation>
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="999999999999.99"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="14"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:complexType name="DiscountAmountAndType1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="DiscountAmountType1Choice"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DiscountAmountType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalDiscountAmountType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
	<!-- root element type -->
	<xs:complexType name="Document">
		<xs:complexContent>
			<xs:restriction base="Document">
				<xs:sequence>
					<xs:element name="CstmrCdtTrfInitn" type="CustomerCreditTransferInitiationV09">
						<xs:annotation>
							<xs:documentation xml:lang="de">Überweisungsnachricht.

Diese Version definiert die Beschränkungen der ISO-Struktur basierend auf den ImplementationRecommendations des EPC für die Verwendung in Österreich</xs:documentation>
							<xs:documentation xml:lang="en">Credit transfer message.

This version defines the restrictions of the ISO structure based on ImplementationRecommendations of EPC for use in Austria</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="DocumentAdjustment1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentLineIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="DocumentLineType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentLineInformation1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Id" type="DocumentLineIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="RemittanceAmount3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentLineType1">
        <xs:sequence>
            <xs:element name="CdOrPrtry" type="DocumentLineType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentLineType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalDocumentLineType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction>
			<xs:enumeration value="SCOR">
				<xs:annotation>
					<xs:documentation xml:lang="de">Vom Empfänger vorgegebene Referenz zur Zuordnung des Eingangs</xs:documentation>
					<xs:documentation xml:lang="en">Reference assigned by creditor to identify and associate receipt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="DocumentType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MSIN"/>
            <xs:enumeration value="CNFA"/>
            <xs:enumeration value="DNFA"/>
            <xs:enumeration value="CINV"/>
            <xs:enumeration value="CREN"/>
            <xs:enumeration value="DEBN"/>
            <xs:enumeration value="HIRI"/>
            <xs:enumeration value="SBIN"/>
            <xs:enumeration value="CMCN"/>
            <xs:enumeration value="SOAC"/>
            <xs:enumeration value="DISP"/>
            <xs:enumeration value="BOLD"/>
            <xs:enumeration value="VCHR"/>
            <xs:enumeration value="AROI"/>
            <xs:enumeration value="TSUT"/>
            <xs:enumeration value="PUOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EquivalentAmount2">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExchangeRate1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateTp" type="ExchangeRateType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExchangeRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SPOT"/>
            <xs:enumeration value="SALE"/>
            <xs:enumeration value="AGRD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCategoryPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDiscountAmountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDocumentLineType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalGarnishmentType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalLocalInstrument1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalProxyAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalServiceLevel1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalTaxAmountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Garnishment3">
        <xs:sequence>
            <xs:element name="Tp" type="GarnishmentType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Grnshee" type="PartyIdentification135"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrnshmtAdmstr" type="PartyIdentification135"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefNb" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FmlyMdclInsrncInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MplyeeTermntnInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GarnishmentType1">
        <xs:sequence>
            <xs:element name="CdOrPrtry" type="GarnishmentType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GarnishmentType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalGarnishmentType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:complexContent>
			<xs:restriction base="GenericPersonIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Identifikation der Person</xs:documentation>
							<xs:documentation xml:lang="en">Identification of person</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Typ der Identifikation</xs:documentation>
							<xs:documentation xml:lang="en">Type of identification</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Issr" type="Max35Text" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Identifikation vergebende Organisation</xs:documentation>
							<xs:documentation xml:lang="en">Identification assigning organisation</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GroupHeader85">
		<xs:complexContent>
			<xs:restriction base="GroupHeader85">
				<xs:sequence>
					<xs:element name="MsgId" type="Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Technische Referenz der Übermittlungsdatei.

Eindeutigkeit über mindestens 30 Tage ist herzustellen.
Beschränken Sie sich für einen sicheren Ablauf auf Buchstaben, Ziffern und Bindestrich.
Eindeutigkeit erreicht man z.B. einfach über die Kombination des Datums mit einem Tageszähler</xs:documentation>
							<xs:documentation xml:lang="en">Technical reference of transmitted file.

Ensure uniqueness for at least 30 days.
For save processing limit yourselves to digits, letters and minus sign.
Uniqueness is simple achievable e.g. with combining the date with a daily counter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreDtTm" type="ISODateTime">
						<xs:annotation>
							<xs:documentation xml:lang="de">Dateierzeugungsdatum und -zeit

Lokale Zeit mit Zeitoffset oder UTC</xs:documentation>
							<xs:documentation xml:lang="en">File creation date and time

Local time with time offset or UTC</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NbOfTxs" type="Max15NumericText">
						<xs:annotation>
							<xs:documentation xml:lang="de">Anzahl der Einzeltransaktionen der Datei.

Maximal 999.999 Transaktionen.
Mehr als 100.000 Umsätzen bedürfen der vorherigen Abstimmung</xs:documentation>
							<xs:documentation xml:lang="en">Count of single transactions of file.

Maximum 999.999 transactions.
More than 100.000 transactions need preliminary agreement</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CtrlSum" type="DecimalNumber">
						<xs:annotation>
							<xs:documentation xml:lang="de">Summe der Einzeltransaktionen der Datei.

Ein Wert zwischen 0.01 und 999999999999.99.
Punkt als Dezimalzeichen.
Keine negativen Werte</xs:documentation>
							<xs:documentation xml:lang="en">Sum of single transactions of file.

A value between 0.01 and 999999999999.99.
Decimal sign is the dot.
No negative values</xs:documentation>
							<xs:documentation>Beispiele / Examples
-- ungültig / invalid --
.87
645.
942.80352132
00023
000343.00
-- gültig und empfohlen / valid and recommended --
0.34
74.5
456
3.04
-- möglich / possible --
10.0
10.40
10.00</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InitgPty" type="PartyIdentification135_InitgPty">
						<xs:annotation>
							<xs:documentation xml:lang="de">Identifizierung des Kommunikationsberechtigten.

Stimmen Sie Ihre Id mit dem empfangenden Finanzinstitut ab.
Üblicherweise die Hauptkontonummer</xs:documentation>
							<xs:documentation xml:lang="en">Identification of communication entitled party.

Agree your Id with receiving financial institution.
Habitually the main account number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction>
			<xs:pattern value="\d{4}(-\d{2}){2}T\d{2}(:\d{2}){2}(\.\d{0,2}[1-9])?(Z|[-+]\d{2}(:\d{2})?)">
				<xs:annotation>
					<xs:documentation>ISO 8601 local time with time offset or UTC
Last digit of seconds fraction must not be 0. If no fraction given, delimeter "." is not allowed (3.2.7.2 Canonical representation in XML Schema Part 2: Datatypes Second Edition)
E.g.
2030-12-12T12:12Z
2030-12-12T12:12+02
2030-12-12T12:12+02:00
2030-12-12T12:12:12Z
2030-12-12T12:12:12+02
2030-12-12T12:12:12+02:00
2030-12-12T12:12:12.123Z
2030-12-12T12:12:12.123+02
2030-12-12T12:12:12.123+02:00</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="Instruction3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHQB"/>
            <xs:enumeration value="HOLD"/>
            <xs:enumeration value="PHOB"/>
            <xs:enumeration value="TELB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstructionForCreditorAgent1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cd" type="Instruction3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice">
		<xs:complexContent>
			<xs:restriction base="LocalInstrument2Choice">
				<xs:choice>
					<xs:element name="Cd" type="AT_ExternalLocalInstrument1Code">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zahlungsinstrument.

JEDWEDE VERWENDUNG IST MIT DER BEAUFTRAGTEN BANK IM VORHINEIN ZU KLÄREN</xs:documentation>
							<xs:documentation xml:lang="en">Payment instrument.

ANY USE NEEDS TO BE AGREED WITH ORDERED BANK BEFORE APPLICATION</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Prtry" type="Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zahlungsinstrument.

Keine Verwendung definiert</xs:documentation>
							<xs:documentation xml:lang="en">Payment instrument.

No application defined</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max128Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction>
			<xs:annotation>
				<xs:documentation xml:lang="de">Begrenzung des Zeichensatzes für Namen und Verwendungszweck

Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten</xs:documentation>
				<xs:documentation xml:lang="en">Limitation of character set for names and remittance information

A text or value must contain at least one printable character</xs:documentation>
			</xs:annotation>
			<xs:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
				<xs:annotation>
					<xs:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction>
			<xs:annotation>
				<xs:documentation xml:lang="de">Begrenzung der Länge des Transaktionszählers</xs:documentation>
				<xs:documentation xml:lang="en">Limitation of length of transaction counter</xs:documentation>
			</xs:annotation>
			<xs:pattern value="[1-9][0-9]{0,5}">
				<xs:annotation>
					<xs:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction>
			<xs:annotation>
				<xs:documentation xml:lang="de">Begrenzung des Zeichensatzes

Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten</xs:documentation>
				<xs:documentation xml:lang="en">Limitation of character set

A text or value must contain at least one printable character</xs:documentation>
			</xs:annotation>
			<xs:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
				<xs:annotation>
					<xs:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction>
			<xs:annotation>
				<xs:documentation xml:lang="de">Begrenzung des Zeichensatzes

Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten</xs:documentation>
				<xs:documentation xml:lang="en">Limitation of character set

A text or value must contain at least one printable character</xs:documentation>
			</xs:annotation>
			<xs:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
				<xs:annotation>
					<xs:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction>
			<xs:annotation>
				<xs:documentation xml:lang="de">Begrenzung des Zeichensatzes für Namen

Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten</xs:documentation>
				<xs:documentation xml:lang="en">Limitation of character set for names

A text or value must contain at least one printable character</xs:documentation>
			</xs:annotation>
			<xs:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
				<xs:annotation>
					<xs:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction>
			<xs:annotation>
				<xs:documentation xml:lang="de">Begrenzung des Zeichensatzes für Adressen

Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten</xs:documentation>
				<xs:documentation xml:lang="en">Limitation of character set for addresses

A text or value must contain at least one printable character</xs:documentation>
			</xs:annotation>
			<xs:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
				<xs:annotation>
					<xs:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
    <xs:complexType name="NameAndAddress16">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element name="Adr" type="PostalAddress24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherContact1">
        <xs:sequence>
            <xs:element name="ChanlTp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max128Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29"/>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact4"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="PaymentIdentification6">
		<xs:complexContent>
			<xs:restriction base="PaymentIdentification6">
				<xs:sequence>
					<xs:element name="InstrId" type="Max35Text_REF" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Überweisungsauftragsnummer.

Dieses Element ist nur aus Kompatibilitätsgründen möglich, damit keine Ablehnung aus technischen Gründen erfolgt.
Angabe wird ignoriert</xs:documentation>
							<xs:documentation xml:lang="en">Transactions instruction Id.

This element is only possible for compatibility reasons, to avoid rejects for technical reasons.
Information is ignored</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndToEndId" type="Max35Text_REF" id="AT-T014" xml:id="AT-41">
						<xs:annotation>
							<xs:documentation xml:lang="de">Auftraggeberreferenz.

Bei Steuerzahlungen enthält dieses Element die 9-stellige Steuernummer (ergo inkl. FA-Nummer).
Bei Postbarzahlungen enthält dieses Element die Postbar-Referenz (bei Postbarzahlungen siehe auch CtgyPurp/a, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr und RmtInf/Ustrd).
Kann im Kontoauszug zur eigenen Referenzierung zurückgegeben, daher ist Eindeutigkeit wichtig.
Falls dennoch keine Referenz angegeben werden soll, mit dem Wert NOTPROVIDED zu füllen</xs:documentation>
							<xs:documentation xml:lang="en">Initiator's reference.

On tax payments this element carries the 9 digit customers tax Id (consequently incl. TA-number).
On CashPerPost payments this element carries the CashPerPost reference (with CashPerPost payments see also CtgyPurp/Prtry, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr und RmtInf/Ustrd).
May be returned in account statement for reconciliation, uniqueness therefore matters.
If still no specific reference shall be provided, to be populated with the value NOTPROVIDED</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UETR" type="UUIDv4Identifier" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Universelle eindeutige Identifikation der Lastschrift

Dieses Element ist für zukünftige Anwendungen reserviert. Derzeit gibt es kein Finanzinstitut in Österreich, dass eine Anwendung dieses Elements anbietet.

UUID nach RFC 4122 Version 4</xs:documentation>
							<xs:documentation xml:lang="en">Debit's universally unique identifier

This element is reserved for future use. Currently there is no single financial institution in Austria supporting an action on this element.

UUID following RFC 4122 version 4</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PaymentInstruction30">
		<xs:complexContent>
			<xs:restriction base="PaymentInstruction30">
				<xs:sequence>
					<xs:element name="PmtInfId" type="Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bestandskontrollnummer.

Eindeutigkeit über mindestens 1 Jahr ist herzustellen.
Kann im Kontoauszug zur Referenzierung zurückgegeben werden.
Das Element wird auch zur Prüfung von Doppelanlieferungen verwendet.
Eindeutigkeit erreicht man z.B. einfach über die Kombination des Datums mit einem Tageszähler</xs:documentation>
							<xs:documentation xml:lang="en">Batch control number.

Ensure uniqueness for at least 1 year.
Can be returned in account statement.
Element is also used to check for duplicate submission.
Uniqueness is simple achievable e.g. with combining the date with a daily counter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PmtMtd" type="PaymentMethod3Code">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zahlungsmethode.

Einzig verfügbarer Wert ist TRF</xs:documentation>
							<xs:documentation xml:lang="en">Payment method.

Only available value is TRF</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Sammel- oder Einzelbuchung.

Berücksichtigung in Absprache mit dem beauftragten Kreditinstitut.
Überschreibt dann die am Konto hinterlegte Standard-Buchungsmethode.
"true" heißt Bestandsbuchung gewünscht.
"false" heißt Einzelbuchung gewünscht</xs:documentation>
							<xs:documentation xml:lang="en">Batch or single booking.

Consideration according to agreement with the instructed financial institution.
Then overwrites standard booking method saved at account.
"true" means batch booking requested.
"false" means single booking requested</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NbOfTxs" type="Max15NumericText">
						<xs:annotation>
							<xs:documentation xml:lang="de">Anzahl der Einzeltransaktionen des Bestands.

Maximal 999.999 Transaktionen.
Mehr als 100.000 Umsätzen bedürfen der vorherigen Abstimmung</xs:documentation>
							<xs:documentation xml:lang="en">Count of single transactions of batch.

Maximum 999.999 transactions.
More than 100.000 transactions need preliminary agreement</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CtrlSum" type="DecimalNumber">
						<xs:annotation>
							<xs:documentation xml:lang="de">Summe der Einzeltransaktionen des Bestands.

Ein Wert zwischen 0.01 und 999999999999.99. Punkt als Dezimalzeichen.
Keine negativen Werte</xs:documentation>
							<xs:documentation xml:lang="en">Sum of single transactions of batch.

A value between 0.01 and 999999999999.99. Decimal sign is the dot. No negative values</xs:documentation>
							<xs:documentation>Beispiele / Examples
-- ungültig / invalid --
.87
645.
942.80352132
00023
000343.00
-- gültig und empfohlen / valid and recommended --
0.34
74.5
456
3.04
-- möglich / possible --
10.0
10.40
10.00</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PmtTpInf" type="PaymentTypeInformation26_Batch" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bestandsverarbeitung.

Diese Struktur existiert ebenfalls auf Einzelumsatzebene. EINE DIESER STRUKTUREN MUSS VERWENDET WERDEN! Gleichzeitige Nennung ist nicht erlaubt. DIE STRUKTUR AUF EINZELUMSATZEBENE VERHINDERT DIE ANWENDUNG VON SPEZIELLEN SERVICES ZWISCHEN AUFTRAGGEBER UND AUFTRAGGEBERBANK! DIESE KÖNNEN NUR BEI VERWENDUNG DIESER EBENE ANGEWENDET WERDEN! Siehe ServiceLevel, LocalInstrument und CategoryPurpose.

Die Verwendung dieses Elements auf dieser Ebene ist dringend angeraten.

Notwendig bei Postbarzahlungen (CategoryPurpose/Proprietary) und Eilzahlungen (ServiceLevel/Code)</xs:documentation>
							<xs:documentation xml:lang="en">Batch processing.

This structure is also available on single transaction level. ONE OF THESE STRUCTURES MUST BE POPULATED! Concurrent population is not permitted. THE POPULATION ON SINGLE TRANSACTION LEVEL INHIBITS SPECIAL SERVICES OFFERED BY INITIATORS BANK TO INITIATOR! THESE SERVICES CAN ONLY BE APPLIED WHEN POPULATION IS MADE ON THIS LEVEL! See ServiceLevel, LocalInstrument and CategoryPurpose.

Element population on this level is strongly recommended.

Mandatory with CashPerPost (CategoryPurpose/Proprietary) and urgent (ServiceLevel/Code) payments</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReqdExctnDt" type="DateAndDateTime2Choice" id="AT-T013" xml:id="AT-07">
						<xs:annotation>
							<xs:documentation xml:lang="de">Gewünschte Durchführung</xs:documentation>
							<xs:documentation xml:lang="en">Requested execution</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dbtr" type="PartyIdentification135_Dbtr">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontoinhaber / Auftraggeber</xs:documentation>
							<xs:documentation xml:lang="en">Account owner / principal</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DbtrAcct" type="CashAccount38_Dbtr">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontonummer des Kontoinhabers / Auftraggebers</xs:documentation>
							<xs:documentation xml:lang="en">Account number of account owner / principal</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6_Dbtr">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontoführendes Institut des Kontoinhabers / Auftraggebers</xs:documentation>
							<xs:documentation xml:lang="en">Financial institution servicing the account owner / principal</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UltmtDbtr" type="PartyIdentification135_UltmtDbtr" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner.

Gleichzeitige Nennung auf Einzelebene ist nicht erlaubt</xs:documentation>
							<xs:documentation xml:lang="en">Reference party of account owner / principal, i.e. habitually the actual debtor.

Concurrent quoting on transaction level is not allowed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Spesenoption.

Einzig verfügbarer Wert ist SLEV</xs:documentation>
							<xs:documentation xml:lang="en">Charge option.

Only available value is SLEV</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CdtTrfTxInf" type="CreditTransferTransaction34" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de">Einzelumsätze.

Maximal 999.999 Umsätze je Bestand.
Größere Anzahl kann nicht verarbeitet werden und die gesamte Datei wird zurückgewiesen.
Mehr als 100.000 Umsätzen bedürfen der vorherigen Abstimmung</xs:documentation>
							<xs:documentation xml:lang="en">Single transactions.

Restricted to 999.999 transactions per batch.
Larger count can not be processed and complete file will be rejected.
More than 100.000 transactions need preliminary agreement</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:assert test="if(count(_:PmtTpInf) eq 1) then (count(_:CdtTrfTxInf/_:PmtTpInf) eq 0) else (count(_:CdtTrfTxInf/_:PmtTpInf) eq count(_:CdtTrfTxInf))">
					<xs:annotation>
						<xs:documentation xml:lang="de">ISO rule: Entweder ein PmtTpInf auf dieser Ebene und kein PmtTpInf auf der nächsten Ebene oder kein PmtTpInf auf dieser Ebene und alle PmtTpInf auf der nächsten Ebene</xs:documentation>
						<xs:documentation xml:lang="en">ISO rule: Either one PmtTpInf on this level and no PmtTpInf on next level or no PmtTpInf on this level and all PmtTpInf on next level</xs:documentation>
					</xs:annotation>
				</xs:assert>
				<xs:assert test="if(count(_:UltmtDbtr) eq 1) then (count(_:CdtTrfTxInf/_:UltmtDbtr) eq 0) else true()">
					<xs:annotation>
						<xs:documentation xml:lang="de">ISO rule: Entweder ein UltmtDbtr auf dieser Ebene und kein UltmtDbtr auf der nächsten Ebene oder kein UltmtDbtr auf dieser Ebene und beliebige UltmtDbtr auf der nächsten Ebene</xs:documentation>
						<xs:documentation xml:lang="en">ISO rule: Either one UltmtDbtr on this level and no UltmtDbtr on next level or no UltmtDbtr on this level and any UltmtDbtr on next level</xs:documentation>
					</xs:annotation>
				</xs:assert>
				<xs:assert test="if(count(_:ChrgBr) eq 1) then (count(_:CdtTrfTxInf/_:ChrgBr) eq 0) else true()">
					<xs:annotation>
						<xs:documentation xml:lang="de">ISO rule: Entweder ein ChrgBr auf dieser Ebene und kein ChrgBr auf der nächsten Ebene oder kein ChrgBr auf dieser Ebene und beliebige ChrgBr auf der nächsten Ebene</xs:documentation>
						<xs:documentation xml:lang="en">ISO rule: Either one ChrgBr on this level and no ChrgBr on next level or no ChrgBr on this level and any ChrgBr on next level</xs:documentation>
					</xs:annotation>
				</xs:assert>
				<xs:assert test="if(count(_:PmtTpInf) eq 1) then true() else (
				if(count(_:CdtTrfTxInf/_:PmtTpInf/_:LclInstrm) eq 0) then true() else (
				if(count(_:CdtTrfTxInf/_:PmtTpInf/_:LclInstrm/_:Cd) eq 0) then true() else (
				count(distinct-values(_:CdtTrfTxInf/_:PmtTpInf/_:LclInstrm/_:Cd)) eq 1)))">
					<xs:annotation>
						<xs:documentation xml:lang="de">Für alle Transaktionen des Bestands gilt der gleiche LocalInstrument Code</xs:documentation>
						<xs:documentation xml:lang="en">For all transaction in batch indent LocalInstrument Code is applied</xs:documentation>
					</xs:annotation>
				</xs:assert>
				<xs:assert test="xd:integer(_:NbOfTxs) eq count(_:CdtTrfTxInf)">
					<xs:annotation>
						<xs:documentation xml:lang="de">Anzahl der Transaktionen im Bestand</xs:documentation>
						<xs:documentation xml:lang="en">Count of transactions in batch</xs:documentation>
					</xs:annotation>
				</xs:assert>
				<xs:assert test="_:CtrlSum eq sum(_:CdtTrfTxInf/_:Amt/_:InstdAmt)">
					<xs:annotation>
						<xs:documentation xml:lang="de">Arithmetische Summe der Transaktionen im Bestand</xs:documentation>
						<xs:documentation xml:lang="en">Arithmetic sum of transactions in batch</xs:documentation>
					</xs:annotation>
				</xs:assert>
				<xs:assert test="count(_:CdtTrfTxInf) lt 1000000">
					<xs:annotation>
						<xs:documentation xml:lang="de">Maximale Anzahl Transaktionen im Bestand</xs:documentation>
						<xs:documentation xml:lang="en">Maximum count of transactions in batch</xs:documentation>
					</xs:annotation>
				</xs:assert>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PaymentMethod3Code">
		<xs:restriction>
			<xs:enumeration value="TRF">
				<xs:annotation>
					<xs:documentation xml:lang="de">SEPA reguliert nur Standard-Massenzahlungsverkehrs-Aufträge</xs:documentation>
					<xs:documentation xml:lang="en">SEPA regulates just standard mass payments initiations</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
    <xs:complexType name="PaymentTypeInformation26">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrty" type="Priority2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclInstrm" type="LocalInstrument2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyPurp" type="CategoryPurpose1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:complexContent>
			<xs:restriction base="PersonIdentificationSchemeName1Choice">
				<xs:choice>
					<xs:element name="Cd" type="ISO_ExternalPersonIdentification1Code">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kodierte Identifikation.

Kode aus Codeliste</xs:documentation>
							<xs:documentation xml:lang="en">Coded identification.

Code from code list</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Prtry" type="Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kodierte Identifikation.

Proprietärer Kode</xs:documentation>
							<xs:documentation xml:lang="en">Coded identification.

Proprietary code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
		<xs:complexType name="PostalAddress24">
			<xs:complexContent>
				<xs:restriction base="PostalAddress24">
					<xs:sequence>
						<xs:element name="Dept" type="Max70Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Abteilung</xs:documentation>
								<xs:documentation xml:lang="en">Department</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubDept" type="Max70Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Unterabteilung</xs:documentation>
								<xs:documentation xml:lang="en">Sub department</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StrtNm" type="Max70Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Straße</xs:documentation>
								<xs:documentation xml:lang="en">Street name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BldgNb" type="Max16Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Hausnummer</xs:documentation>
								<xs:documentation xml:lang="en">Building number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BldgNm" type="Max35Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Gebäudename</xs:documentation>
								<xs:documentation xml:lang="en">Building name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Flr" type="Max70Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Stockwerk</xs:documentation>
								<xs:documentation xml:lang="en">Floor</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PstBx" type="Max16Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Postfach</xs:documentation>
								<xs:documentation xml:lang="en">Post box</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Room" type="Max70Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Raum</xs:documentation>
								<xs:documentation xml:lang="en">Room</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PstCd" type="Max16Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Postleitzahl</xs:documentation>
								<xs:documentation xml:lang="en">Post code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TwnNm" type="Max35Text">
							<xs:annotation>
								<xs:documentation xml:lang="de">Stadt / Ort</xs:documentation>
								<xs:documentation xml:lang="en">Town name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Stadtteil / Ortsteil</xs:documentation>
								<xs:documentation xml:lang="en">Town location name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DstrctNm" type="Max35Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Bezirk</xs:documentation>
								<xs:documentation xml:lang="en">District name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Bundesland</xs:documentation>
								<xs:documentation xml:lang="en">Country sub division</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Ctry" type="CountryCode">
							<xs:annotation>
								<xs:documentation xml:lang="de">Land

ISO 3166 2-Buchstaben Ländercode</xs:documentation>
								<xs:documentation xml:lang="en">Country

ISO 3166 2-character country code</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
    <xs:simpleType name="PreferredContactMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LETT"/>
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="PHON"/>
            <xs:enumeration value="FAXX"/>
            <xs:enumeration value="CELL"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Priority2Code">
		<xs:restriction>
			<xs:enumeration value="HIGH">
				<xs:annotation>
					<xs:documentation xml:lang="de">Auftrag vor anderen, mit NORM gekennzeichneten, Auftragen durchführen</xs:documentation>
					<xs:documentation xml:lang="en">Execute order prior other, with NORM qualified, orders</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NORM">
				<xs:annotation>
					<xs:documentation xml:lang="de">Auftrag nach anderen, mit HIGH gekennzeichneten, Auftragen durchführen</xs:documentation>
					<xs:documentation xml:lang="en">Execute order after other, with HIGH qualified, orders</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProxyAccountIdentification1">
		<xs:complexContent>
			<xs:restriction base="ProxyAccountIdentification1">
				<xs:sequence>
					<xs:element name="Tp" type="ProxyAccountType1Choice" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Proxy Typ</xs:documentation>
							<xs:documentation xml:lang="en">Proxy type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Id" type="Max2048Text">
						<xs:annotation>
							<xs:documentation xml:lang="de">Identifikation

Format entsprechend des Typs</xs:documentation>
							<xs:documentation xml:lang="en">Identification

Format </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProxyAccountType1Choice">
		<xs:complexContent>
			<xs:restriction base="ProxyAccountType1Choice">
				<xs:choice>
					<xs:element name="Cd" type="ISO_ExternalProxyAccountType1Code">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kode aus Codeliste</xs:documentation>
							<xs:documentation xml:lang="en">Code from code list</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Prtry" type="Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Vereinbarter Kode</xs:documentation>
							<xs:documentation xml:lang="en">Agreed code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Purpose2Choice">
		<xs:complexContent>
			<xs:restriction base="Purpose2Choice">
				<xs:choice>
					<xs:element name="Cd" type="ISO_ExternalPurpose1Code" id="AT-T007" xml:id="AT-44">
						<xs:annotation>
							<xs:documentation xml:lang="de">Geschäftsfallkode.

Siehe auch CtgyPurp.
Abhängig vom Kode in CtgyPurp hat dieser Kode bestimmte Bedeutung im empfangenden Institut:
Mit SALA
GVEA: Bezüge Arbeitslose
GVEB: Bezüge allgemein
GVEC: Bezüge Landesinvaliden
GVED: Bezüge Landesverteidigung
GOVT: Bezüge Post
RLWY: Bezüge OeBB
Mit PENS
RLWY: Pensionen OeBB
Mit GOVT
ANNI: Annuitätenzuschüsse
Besonderheiten:
TRFD: Mündelkonten (RAK-Zahlungen)
TAXS: Steuerzahlung
Sonstige siehe Liste auf iso20022.org</xs:documentation>
							<xs:documentation xml:lang="en">Business codes.

See also CtgyPurp.
Depending on code in CtgyPurp this code has specific meaning at receiving institute:
With SALA
GVEA: Emoluments unemployed persons
GVEB: Emoluments general
GVEC: Emoluments disabled persons
GVED: Emoluments national defence
GOVT: Emoluments Austrian Mail
RLWY: Emoluments OeBB
With PENS
RLWY: Pensions OeBB
With GOVT
ANNI: Annuity grant
Specialities:
TRFD: Trusted fund payments (RAK-Payments)
TAXS: Tax payment
Others see list at iso20022.org</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="ReferredDocumentInformation7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ReferredDocumentType4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LineDtls" type="DocumentLineInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="DocumentType6Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentType4">
        <xs:sequence>
            <xs:element name="CdOrPrtry" type="ReferredDocumentType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryAuthority2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryReporting3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtCdtRptgInd" type="RegulatoryReportingType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Authrty" type="RegulatoryAuthority2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dtls" type="StructuredRegulatoryReporting3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RegulatoryReportingType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRED"/>
            <xs:enumeration value="DEBT"/>
            <xs:enumeration value="BOTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RemittanceAmount2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DscntApldAmt" type="DiscountAmountAndType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxAmt" type="TaxAmountAndType1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AdjstmntAmtAndRsn" type="DocumentAdjustment1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceAmount3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DscntApldAmt" type="DiscountAmountAndType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxAmt" type="TaxAmountAndType1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AdjstmntAmtAndRsn" type="DocumentAdjustment1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="RemittanceInformation16">
		<xs:complexContent>
			<xs:restriction base="RemittanceInformation16">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xs:documentation>
						<xs:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xs:documentation>
					</xs:annotation>
					<xs:element name="Ustrd" type="Max140Text" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Verwendungszweck Textzeile.
						
Eine Zeile mit maximal 140 Zeichen.
Verpflichtend bei Postbarzahlungen.
Bei Steuerzahlungen ist mit dem Bundesrechenzentrum ein spezieller Aufbau vereinbart.
Bei Postbarzahlungen ist ein spezieller Aufbau vereinbart</xs:documentation>
							<xs:documentation xml:lang="en">Remittance information text line.

One line with maximum 140 characters.
Mandatory with CashPerPost payments.
On tax payments observe the structure agreed with Bundesrechenzentrum (administration's data centre).
On CashPerPost payments observe specific structure</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Strd" type="StructuredRemittanceInformation16" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Verwendungszweck strukturiert: Zahlungsreferenz, Empfängerreferenz.

Alle Daten INKLUSIVE der notwendigen XML-Tags müssen in 140 Zeichen Platz finden.
Nicht verfügbar bei Steuer- und Postbar-Zahlungen</xs:documentation>
							<xs:documentation xml:lang="en">Remittance information data structure: Creditor's reference, Recipient's reference.

All data INCLUDING the necessary XML tags must fit into 140 character.
Not available with Tax and CashPerPost payments</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:assert test="count(*) eq 1">
					<xs:annotation>
						<xs:documentation xml:lang="de">Genau 1 Folgeelement</xs:documentation>
						<xs:documentation xml:lang="en">Exactly 1 consequent element</xs:documentation>
					</xs:annotation>
				</xs:assert>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="RemittanceLocation7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RmtLctnDtls" type="RemittanceLocationData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceLocationData1">
        <xs:sequence>
            <xs:element name="Mtd" type="RemittanceLocationMethod2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElctrncAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="NameAndAddress16"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RemittanceLocationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAXI"/>
            <xs:enumeration value="EDIC"/>
            <xs:enumeration value="URID"/>
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="SMSM"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="ServiceLevel8Choice">
		<xs:complexContent>
			<xs:restriction base="ServiceLevel8Choice">
				<xs:choice>
					<xs:element name="Cd" type="AT_ExternalServiceLevel1Code" id="AT-T001-Batch" xml:id="AT-40-Batch">
						<xs:annotation>
							<xs:documentation xml:lang="de">Service Spezifikation.

Der Standardwert ist SEPA.
Die Verwendung von SDVA zur Erteilung von Eilzahlungen wird nicht grundsätzlich unterstützt und bedarf vorheriger Vereinbarung.
Eilzahlungen unterliegen nicht den Standards der EU-Verordnung (Annahme- und Verarbeitungspflichten, Preisgleichstellung etc.)</xs:documentation>
							<xs:documentation xml:lang="en">Service specification.

The standard value is SEPA.
The usage of SDVA for qualification of urgent payments is not general supported and requires preliminary agreement.
Urgent payments are not governed by EU-Regulation (acceptance and processing duties, charges and fees etc.)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="StructuredRegulatoryReporting3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cd" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Inf" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="StructuredRemittanceInformation16">
		<xs:complexContent>
			<xs:restriction base="StructuredRemittanceInformation16">
				<xs:sequence>
					<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zahlungsreferenz, Empfängerreferenz</xs:documentation>
							<xs:documentation xml:lang="en">Creditor's reference, Recipient's reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxAmount2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dtls" type="TaxRecordDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxAmountAndType1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="TaxAmountType1Choice"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxAmountType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalTaxAmountType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxAuthorisation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Titl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxInformation7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="TaxParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="TaxParty2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtDbtr" type="TaxParty2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdmstnZone" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefNb" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mtd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rcrd" type="TaxRecord2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxInformation8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="TaxParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="TaxParty2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdmstnZone" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefNb" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mtd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rcrd" type="TaxRecord2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxParty1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxParty2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Authstn" type="TaxAuthorisation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxPeriod2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Yr" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="TaxRecordPeriod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrToDt" type="DatePeriod2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxRecord2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctgy" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyDtls" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrSts" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrmsCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="TaxPeriod2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxAmt" type="TaxAmount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxRecordDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="TaxPeriod2"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxRecordPeriod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MM01"/>
            <xs:enumeration value="MM02"/>
            <xs:enumeration value="MM03"/>
            <xs:enumeration value="MM04"/>
            <xs:enumeration value="MM05"/>
            <xs:enumeration value="MM06"/>
            <xs:enumeration value="MM07"/>
            <xs:enumeration value="MM08"/>
            <xs:enumeration value="MM09"/>
            <xs:enumeration value="MM10"/>
            <xs:enumeration value="MM11"/>
            <xs:enumeration value="MM12"/>
            <xs:enumeration value="QTR1"/>
            <xs:enumeration value="QTR2"/>
            <xs:enumeration value="QTR3"/>
            <xs:enumeration value="QTR4"/>
            <xs:enumeration value="HLF1"/>
            <xs:enumeration value="HLF2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
